<form #form_ref="ngForm" class="col-12 container vh-100 d-flex align-items-center justify-content-center">
  <div class="col-lg-4 col-sm-8 col-10 h-50">
    <div class="mb-3">
      <h1 class="fw-bold mb-3 col-12 container  d-flex  justify-content-center">Register </h1>
      <input name="mail" placeholder="Email"  type="mail" class="form-control" required email #mail_ref="ngModel" [(ngModel)]="userdetails.mail">
      <p class="text-danger" *ngIf="mail_ref.touched && mail_ref.value?.length<1">Mail is required</p>
      <p class="text-danger" *ngIf="mail_ref.errors?.['email']">Enter valid mail</p>
    </div>
    <div class="mb-3">
      <input name="password" placeholder="Password" type="password" class="form-control" required #password_ref="ngModel" [(ngModel)]="userdetails.password">
      <p class="text-danger" *ngIf="password_ref.touched && password_ref.value?.length<1">Password is required</p>
    </div>
    <div>
      <input name="confirmpassword" placeholder="Confirmpassword" type="password" class="form-control" required #confirmpassword_ref="ngModel" [(ngModel)]="userdetails.confirmpassword">
      <p class="text-danger" *ngIf="confirmpassword_ref.touched && password_ref.value != confirmpassword_ref.value && confirmpassword_ref.value?.length>0">Password and Confirm password are not matched</p>
    </div>
    <div *ngIf="message" class="bg-opacity-75" [ngClass]="message=='OK'?'bg-success':'bg-danger'">
      <p *ngIf="message!='OK'" class="py-2 mt-1 text-center" >{{message}}</p>
      <p *ngIf="message=='OK'" class="py-2 mt-1 text-center" >Please verify your mail.</p>
    </div>
    <div class="d-grid gap-2 mt-2">
      <button type="submit" class="btn btn-primary mt-3" [disabled]="form_ref.invalid || password_ref.value != confirmpassword_ref.value" (click)="submit()">Register</button>
    </div>
    <div class="text-center">
      <p>Already have an account <a routerLink="/login">Login</a></p>
    </div>
  </div>
</form>
