<div>
  <h1 style="padding-top: 5rem !important;" class="text-center mb-4 fw-bolder">Shopping Cart</h1>
  <div *ngFor="let product of products" class="mb-3 d-flex justify-content-center align-items-center">
    <div class="custom-flex d-flex justify-content-between custom-height w-50  border rounded">
      <div class="col-3 rounded overflow-hidden custom-width-mobile" (click)="redirectToProduct(product)">
        <!-- <img [src]="'https://dq51sxzrefeb3.cloudfront.net/'+product.image" class="object-fit-cover w-100 h-100" alt="" /> -->
        <img src="../../../assets/1.jpg" class="object-fit-cover w-100 h-100" alt="" />
      </div>
      <div class="d-flex align-items-center justify-content-center col-9 custom-width-mobile position-relative">
        <div class="position-absolute custom-place" (click)="RemoveFromCart(product)">
          <i class="bi bi-x"></i>
        </div>
        <div class="w-100 d-flex justify-content-around align-items-center custom">
          <p class="fs-5 fw-bolder w-50 ps-2 custom-font">{{product.title}}</p>
          <div class="d-flex w-50 justify-content-around">
            <div class="input-group input-group-sm mb-3 custom-width-quantity" style="width: 30%; height: 35px;">
              <button class="input-group-text" id="inputGroup-sizing-sm">-</button>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly disabled value="1">
              <button class="input-group-text" id="inputGroup-sizing-sm">+</button>
            </div>
            <div class="d-flex align-items-center mb-3">
              <i class="bi bi-currency-rupee fw-bold"></i>
              <p class="m-0 p-0 fw-bold">{{product.price}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
