<div>
  <h1 style="padding-top: 5rem !important;">Shopping Cart</h1>
  <div *ngFor="let item of list" class="mb-3 d-flex justify-content-center align-items-center">
    <div class="custom-flex d-flex justify-content-between custom-height w-50  border rounded">
      <div class="col-3 rounded overflow-hidden custom-width-mobile">
        <img src="../../../assets/1.jpg" class="object-fit-cover w-100 h-100" alt="" />
      </div>
      <div class="d-flex align-items-center justify-content-center col-8 custom-width-mobile">
        <div class="w-100 d-flex justify-content-around align-items-center custom">
          <p class="fs-5 fw-bolder w-75">Sleek White & Orange Wireless Gaming Controller</p>
          <div class="d-flex">
            <div class="input-group input-group-sm mb-3" style="width: 100px !important; height: 35px !important;">
              <button class="input-group-text" id="inputGroup-sizing-sm">-</button>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly disabled value="1">
              <button class="input-group-text" id="inputGroup-sizing-sm">+</button>
            </div>
            <div class="d-flex align-items-center mb-3">
              <i class="bi bi-currency-rupee fw-bold"></i>
              <p class="m-0 p-0 fw-bold">200</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
