<ng-container *ngIf="!newPasswordView">
  <form #form_ref="ngForm">
    <div class="vh-100 w-100 d-flex justify-content-center align-items-center">
      <div class="w-25">
        <div class="mb-3">
          <label for="" class="form-label">Email</label>
          <input name="mail" [(ngModel)]="mail" #mail_ref="ngModel" type="mail" class="form-control" required email>
        </div>
        <div class="text-danger">
          <p *ngIf="mail_ref.touched && mail_ref.value?.length<1">Mail is Required</p>
          <p *ngIf="mail_ref.errors?.['email']">Enter valid mail</p>
        </div>
        <div>
          <p *ngIf="message=='user not found'">{{message}} please Register <a class="text-decoration-none" routerLink="/register"></a></p>
          <!-- <p *ngIf="token != ''">{{token}}</p> -->
        </div>
        <div class="text-center">
          <button [disabled]="form_ref.invalid || mail_ref.invalid" type="submit" class="btn btn-primary" (click)="submit()">Next</button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="newPasswordView">
  <form #form_ref2="ngForm">
    <div class="vh-100 w-100 d-flex justify-content-center align-items-center">
      <div class="w-25">
        <div class="mb-3">
          <label for="" class="form-label">New Password</label>
          <input name="password" [(ngModel)]="password" #password_ref="ngModel" type="password" class="form-control" required>
          <p class="text-danger" *ngIf="password_ref.touched && password_ref.value?.length<1">Password is required</p>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Confirm New Password</label>
          <input name="cpassword" [(ngModel)]="cpassword" #cpassword_ref="ngModel" type="password" class="form-control" required>
          <p class="text-danger" *ngIf="cpassword_ref.touched && password_ref.value != cpassword_ref.value && cpassword_ref.value?.length>0">Password and Confirm password are not matched</p>
        </div>
        <div>
          <p >{{message}} please Login <a class="text-decoration-none" routerLink="/login">Login</a></p>
        </div>
        <div class="text-center">
          <button [disabled]="password_ref.invalid || cpassword_ref.invalid || password_ref.value != cpassword_ref.value" type="submit" class="btn btn-primary" (click)="ResetPassword()">Reset Password</button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
